<mat-sidenav-container class="height-100">
    <h2>Dashboard View</h2>
    <div class="container">
        <mat-tab-group>
            <mat-tab label="Swift">
                <ng-template matTabContent>
                    <div class="tab-content">
                        !! Swift Details !!
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Caringo">
                <ng-template matTabContent>
                    <div class="tab-content">
                        <caringo-dashboard></caringo-dashboard>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</mat-sidenav-container>